p {
  font-family: roboto, arial;
  margin: 0px;
}
body{

  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  font-family: roboto, arial;
  padding-right: 20px;
  background-color: rgba(248,248,248,1);

}