.sidebar {
  position: fixed;
  left: 0px;
  bottom: 0;
  top: 55px;
  background-color: rgb(255, 255, 255);
  width: 72px;
  transition: width 0.5s;
}

.sidebar-link {
  z-index: 200px;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5px;
  cursor: pointer;

}

.sidebar-link:hover {
  background-color: rgba(232, 227, 227, 0.618);
}

.sidebar-link img {
  margin-bottom: 4px;
  height: 24px;
}

.sidebar-link div {
  font-size: 10px;
}