.youtube-search {
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 14pt;
  border: 1px solid rgba(181, 181, 181, 0.833);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, .05);
  width: 0;
}
.youtube-search:focus{
  border-width: 1px;
  border-color: blue;
}
.youtube-search::placeholder {
  font-family: roboto, arial;
  font-size: 14pt;
}
.youtube-search:focus {
border:1px solid rgb(92, 156, 234);
}
.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: 1px solid rgba(211, 208, 208, 0.833);
  z-index: 100;
}

.left-section {
  display: flex;
  align-items: center;
}

.middle-section {

  flex: 1;
  margin-right: 35px;
  margin-left: 70px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.right-section {
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  flex-shrink: 0;


}

.hamburgir-menu {
  height: 24px;
  margin-right: 24px;
  margin-left: 20px;
}

.youtube-lo {
  height: 20px;
}

.search-btn {
  height: 40px;
  width: 66px;
  border: 1px solid rgba(181, 181, 181, 0.833);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, .05);
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  margin-left: -1px;
  margin-right: 10px;
}
.notification-container,
.youtube-icon-container,
.upload-icon-container,
.search-btn,
.voice-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}
.notification-container .tool-tip,
.youtube-icon-container .tool-tip,
.upload-icon-container .tool-tip,
.search-btn .tool-tip,
.voice-btn .tool-tip {
  font-family:roboto ;
  position: absolute;
  background-color: rgba(84, 84, 84, 0.748);
  color: white;
  font-size: 14px;
  padding: 8px 6px;
  border-radius: 2px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;

}
.notification-container:hover .tool-tip,
.youtube-icon-container:hover .tool-tip,
.search-btn:hover .tool-tip,
.voice-btn:hover .tool-tip,
.upload-icon-container:hover .tool-tip {
  opacity: 1;
}

.voice-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: rgb(243, 241, 241);

}

.search-icons {
  width: 25px;
}

.voice-icons {
  width: 25px;
}

.upload,
.app,
.notification {

  height: 25px;

}

.me {
  height: 30px;
  width: 30px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

.notification-container {
  position: relative;
}

.notification-count {
  position: absolute;
  background-color: rgb(200, 18, 18);
  color: white;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 75%;
  right: -3px;
  top: -1px;

}